{% extends 'sellernavbar.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div>
    <div class="container mt-5">
        <h3>Product details</h3>
        <form method="post" action="{% url 'add_details' %}">
            {% csrf_token %}
            <div class="form-group">
<label for = "productname">Product Name</label>
                <input type ="text" class="form-control" name="productname" id="productname" placeholder="Enter the Product Name">
            </div>

             <div class="form-group">
<label for = "productcatg">Product category</label>
                 <select class="form-control" name="productcatg" id="productcatg">
                     <option value="chairs">Chairs</option>
                     <option value="sofas">Sofas</option>
                     <option value="dining&kitchen">Dining&Kitchen</option>
                     <option value="study&office">Study&Office</option>
                     <option value="wardrobes">Wardrobes</option>
                     <option value="lamps&lighting">Lamps&Lighting</option>
                     <option value="bedroom">BedRoom</option>
                 </select>
            </div>
 <div class="form-group">
<label for = "productdesc">Product Description</label>
                <textarea class="form-control" name="productdesc" id="productdesc"  rows="2" placeholder="Enter the Product Description">
                </textarea>
            </div>
             <div class="form-group">
<label for = "price">Price</label>
                <input type ="text" class="form-control" name="price" id="price" placeholder="Enter the Product Price">
            </div>
            <div class="form-group">
    <label for="picture">Product Image </label>

    <input type="file" class="form-control-file" id="picture" name="picture">
</div>
            <br>
            <button type="submit" class="btn btn-dark">Add the Product</button>
            
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>