<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Include your common stylesheets, scripts, etc. here -->
    <!-- Example: -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!-- Include your common scripts, footer, etc. here -->
    <!-- Example: -->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
