{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WoodWonders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
{% block body %}
<br>

<div class="row">

    <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'serve1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Gooditour Ceramic Dinner Plates Set - 10.5 Inch Large Embossed Stoneware Dishes for Pasta Steak Pizza - Resistant Scratch Oven Microwave Dishwasher Safe </h6>
    <p class="card-text">MRP:₹32,999 inclusive of all taxes</p>
    <a href="#"class="btn btn-outline-dark">Add to Cart</a>
  </div>
    </div>



         <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'serve6.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">LLSS Ceramics Dinner Sets, Plate/Bowl/Spoon | 26 Pieces Phnom Penh Dinnerware Set - Porcelain Combination Set for Restaurant Wedding Gifts,Light Green
</h6>
    <p class="card-text">MRP:₹11,899 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

    <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'serve3.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Stylish Dinner Set for Luxury Restaurant and Home, Dinnerware Sets for 2 4 6 Dinner Plates Sets Plate Set Nordic Style Dishes Set Plates and Bowls, for Home Kitchen and Dinning (Pink 9 pcs)</h6>
    <p class="card-text">MRP:₹10,600 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>
     <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'serve4.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">ATORSE® 2 Tier Snack Tray Service Macaron Candy Pistachio Dessert Plates Holder
</h6>
    <p class="card-text">MRP:₹6,434 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

</div>
<div class="row">

    <div class="card mb-3 ms-5" style="width: 20rem;">

  <img src="{% static 'serve5.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Valentina Metal Lounge Chair with Seating Capacity : 1 </h6>
    <p class="card-text">MRP:₹19,898 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
    </div>
         <div class="card mb-3 ms-5" style="width: 20rem;">

  <img src="{% static 'serve2.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Janzo Furniture Modern Living Room Fabric Chair</h6>
    <p class="card-text">MRP:₹11,999 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

    <div class="card mb-3 ms-5" style="width: 20rem;">

  <img src="{% static 'serve7.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">LLSS Ceramics Dinner Sets, Plate/Bowl/Spoon | 26 Pieces Phnom Penh Dinnerware Set - Porcelain Combination Set for Restaurant Wedding Gifts,Light Green</h6>
    <p class="card-text">MRP:₹8749 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

     <div class="card mb-3 ms-5" style="width: 20rem;">

  <img src="{% static 'serve8.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Gooditour Ceramic Dinner Plates Set - 10.5 Inch Large Embossed Stoneware Dishes for Pasta Steak Pizza - Resistant Scratch Oven Microwave Dishwasher Safe</h6>
    <p class="card-text">MRP:₹5977 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

</div>

{% endblock %}
 </body>
</html>