{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WoodWonders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
{% block body %}
<br>

<div class="row">

    <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'seater3.1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Outdoor Patio Rocking Chair, Comfy Wicker Egg Chair with Padded Cushion, Oversized Rocker for Indoor & Outside, Modern Lounge Chair for Porch, Balcony, Garden, Lawn, Living Room, Beige</h6>
    <p class="card-text">MRP:₹26,999 inclusive of all taxes</p>
    <a href="#"class="btn btn-outline-dark">Add to Cart</a>
  </div>
    </div>



         <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'seater3.2.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Artechworks Modern Velvet Barrel Chair Accent Armchair with Golden Legs for Living Room Bedroom Home Office, Channel Tufted Back Club Chair, Grass Green
</h6>
    <p class="card-text">MRP:₹11,999 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

    <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'seater3.3.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Single Seater Leather Sofa Chair, For Home</h6>
    <p class="card-text">MRP:₹10,600 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>
     <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'seater3.4.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Jules Accent Chair, For Home,Seating Capacity :1</h6>
    <p class="card-text">MRP:₹26,434 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

</div>
<div class="row">

    <div class="card mb-3 ms-5" style="width: 20rem;">

  <img src="{% static 'seater3.5.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Valentina Metal Lounge Chair with Seating Capacity : 1 </h6>
    <p class="card-text">MRP:₹19,898 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
    </div>
         <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'seater3.6.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Janzo Furniture Modern Living Room Fabric Chair</h6>
    <p class="card-text">MRP:₹11,999 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

    <div class="card mb-3 ms-5" style="width: 20rem;">
  <img src="{% static 'seater3.7.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">AMERLIFE 89 inch Sofa, Comfy Sofa Couch- Modern Couch with Extra Deep Seats, 3 Seater Sofa Chair Set for Living Room, Grey Corduroy
</h6>
    <p class="card-text">MRP:₹77,487 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

     <div class="card mb-3 ms-5" style="width: 20rem;">

  <img src="{% static 'seater3.8.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title">Homevibes 3 Seater Zeaa Decent Sofa for Living Room and Office|Stylish and Comfortable Living Room Furniture| 3 Seater Sofa</h6>
    <p class="card-text">MRP:₹78,999 inclusive of all taxes</p>
    <a href="#" class="btn btn-outline-dark">Add to Cart</a>
  </div>
</div>

</div>

{% endblock %} 
 </body>
</html>